.profile {
    margin: 0 auto;
    
    cursor: pointer;
    
    @media screen and (min-width: 320px) and (max-width: 420px) {
      max-width: 320px;
    }
  
    @media screen and (min-width: 421px) {
      width: 320px;
    }
  
    background-color: rgb(255, 255, 255);
  
    border-radius: 8px;
  
    box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);
  
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    &:hover {
      transform: scale(1.1);
    }
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .description {
    padding: 30px;
  
    .avatar {
      margin: 0 auto 30px;
      width: 40%;
  
      object-fit: cover;
  
      border-radius: 100%;
      background-color: rgb(197, 197, 197);
    }
  
    .name,
    .tag {
      margin-bottom: 10px;
    }
  
    .tag,
    .location {
      font-size: 20px;
      color: rgb(143, 139, 139);
    }
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
  
    background-color: rgba(11, 24, 214, 0.822);
  
    border: 1px solid rgb(216, 215, 215);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  
    .item {
      display: flex;
      flex-direction: column;
  
      padding-top: 20px;
      padding-bottom: 30px;

      width: 100%;
      height: 100%;
      &:not(:last-child) {
        border-right: 1px solid rgb(216, 215, 215);
      }
  
      .label {
        font-size: 16px;
        color: rgb(255, 255, 255);
      }
      .quantity {
        font-size: 20px;
      }
    }
}