.wrapper {
    padding-bottom: 30px;
}

.statistics {
  margin: 0 auto;
  
  @media screen and (min-width: 320px) and (max-width: 420px) {
    max-width: 320px;
  }
  
  @media screen and (min-width: 421px) {
    width: 320px;
  }
  
  background-color: #fff;
  border-radius: 8px;
  
  font-size: 16px;
  color: rgb(143, 139, 139);
  
  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);
  
  .title {
    padding: 30px;
    text-transform: uppercase;
  }
  
  .statList {
    display: flex;
    justify-content: space-between;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  
    overflow: hidden;
  
    .item {
      display: flex;
      flex-direction: column;
  
      padding-top: 10px;
      padding-bottom: 10px;
  
      width: 100%;
      height: 100%;
  
      line-height: 1.6;
  
      color: #fff;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.1);
      }
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          
      .label {
        font-size: 15px;
      }
    }
  }
}